/* exp.css */
.navbar-cont {
  top:0px;
  /* padding: 0px 10px; */
  border: 1px solid #ddd;
  /* background-color: brown; */
}

.container {
  width: 100%; /* Make the container occupy the full width */
  margin: 0;
  padding: 0; /* Remove any padding */
}

.custom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: aqua; */
}

.custom-col {
  flex: 1;
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ddd;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

/******************** First Column (Social Icons) **************************/

.left-col {
  align-items: left;
  display: flex;
}

.custom-col h6 {
  margin: 0;
  font-size: 16px;
  color: #333;
  text-align: center;
}

.custom-col:first-child {
  text-align: left;
}

.custom-col:last-child {
  text-align: right;
}

/******************** Top Navbar **************************/
.social-i-cont {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 21px;
}

/******************** Second Column (Contact Info) **************************/
.custom-col ul {
  list-style-type: none; /* Removes bullet points */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  display: flex;
  flex-direction: row;
  gap: 20px; /* Adds space between list items */
}

.right-col {
  display: flex;
  align-self: center;
  justify-content: center;
}

.custom-col ul li {
  white-space: nowrap; /* Prevents text from wrapping */
  font-size: 15px;
  font-weight: bold;
  color: rgb(187, 154, 101);
}

.right-col-li-con {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  color: rgb(187, 154, 101);
}

/****************Nav Bar**********************/
/* General Styles for the Navbar */

.bg-body-tertiary{
  background-color: white !important;
  --bs-bg-opacity: 0 !important;
}

.navbar-nav {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: auto;
  font-size: 72px;
}
.nav-link {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.nav-item {
  margin-right: 15px;
}

.nav-item.active .nav-link {
  color: #007bff;
}

.nav-link {
  color: #333;
  text-decoration: none;
  padding: 10px 15px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #007bff;
}

.navbar-nav .dropdown-menu {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.form-inline {
  display: flex;
  align-items: center;
}

.btn {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

li {
  font-family: Georgia, "Times New Roman", Times, serif, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  list-style: none;
  margin-right: 15px;
}
.logo-cont {
  width: 10px;
}
.logo {
  width: 50px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 30px;
}

.site-navigation {
  font-size: 16px;
}
.basic-navbar-nav {
  font-size: 62px !important;
}
/* Ensure the logo has a fixed width */

:root {
  --font-size: 18px;
  --font-family: "Open Sans", sans-serif;
}

.fontstyle {
  font-size: var(--font-size);
  font-family: var(--font-family);
}
.book-now {
  border: 1px solid #999797;
  padding: 12px;
  inline-size: 160px;
  border-radius: 50px;
  text-align: center;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  rotate: 310deg;
  position: absolute;
  top:1px;
  left: 140px;
  color:white;
  background-color: rgb(187, 154, 101);
}

.booknow-circle-cont {
  /* display: flex; */
  position: relative;
}
